<body class=" d-flex flex-column">
<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Invalid link</h2>
        <h3 class="h3 text-center mb-4">The link you accessed may not work for the following reasons：</h3>
        <ul>
          <li>This link has expired</li>
          <li>This link has been used</li>
          <li>This link does not exist</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
