{include file="user/header"}

<head>
    <title>添加地址</title>
</head>

<body>
<div class="page-wrapper">
    <div class="container">
        <div class="page-content">
            <div class="card" style="margin-top: 26px">
                <div class="card-header">
                    <h3 class="card-title">{$action=='edit'?'编辑':'添加'}地址信息</h3>
                    <a class='btn btn-danger' href='/user/addresses' style="margin-left: auto"><i></i>取消</a>
                </div>
                <div class="card-body">
                    <!-- 单个添加表单 -->
                    <div class="mb-3" id="singleForm">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">收件人</label>
                                <input class="form-control" name="receiver" type="text" value="{$address.receiver}">
                            </div>
                            <div class="col">
                                <label class="form-label">电话</label>
                                <input class="form-control" name="tel" type="tel" value="{$address.tel}">
                            </div>
                        </div>
                        <br>
                        <div class="list">
                            <div class="col">
                                <label class="form-label">详细地址 (line 1)</label>
                                <input class="form-control" name="line1" type="text" value="{$address.line1}">
                            </div>
                            <br>
                            <div class="col">
                                <label class="form-label">详细地址 (line 2)</label>
                                <input class="form-control" name="line2" placeholder="不需要请留空" type="text"
                                       value="{$address.line2}">
                            </div>
                            <br>
                            <div class="col">
                                <label class="form-label">详细地址 (line 3)</label>
                                <input class="form-control" name="line3" placeholder="不需要请留空" type="text"
                                       value="{$address.line3}">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label class="form-label">城市</label>
                                <input class="form-control" name="city" type="text" value="{$address.city}">
                            </div>
                            <div class="col">
                                <label class="form-label">邮编</label>
                                <input class="form-control" name="postcode" type="text" value="{$address.postcode}">
                            </div>
                            <div class="col">
                                <label class="form-label">国家</label>
                                <input class="form-control" name="country" type="text" value="{$address.country}">
                            </div>
                        </div>
                        <br>
                        <input name="action" type="hidden" value="{$action}">
                        <button class="btn btn-primary submit" type="button">{$action=='edit'?'保存':'添加'}地址
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.submit').addEventListener('click', function (event) {
        var receiver = document.querySelector('input[name="receiver"]').value;
        var tel = document.querySelector('input[name="tel"]').value;
        var line1 = document.querySelector('input[name="line1"]').value;
        var line2 = document.querySelector('input[name="line2"]').value;
        var line3 = document.querySelector('input[name="line3"]').value;
        var city = document.querySelector('input[name="city"]').value;
        var postcode = document.querySelector('input[name="postcode"]').value;
        var country = document.querySelector('input[name="country"]').value;
        var action = document.querySelector('input[name="action"]').value;
        var data = {
            receiver: receiver,
            tel: tel,
            line1: line1,
            line2: line2,
            line3: line3,
            city: city,
            postcode: postcode,
            country: country
        };
        if (action.trim() === '') {
            Swal.fire({
                icon: 'error',
                title: '错误',
                text: '操作错误'
            });
            return;
        }
        if (receiver.trim() === '') {
            Swal.fire({
                icon: 'error',
                title: '错误',
                text: '请输入收件人姓名'
            });
            return;
        }
        if (tel.trim() === '') {
            Swal.fire({
                icon: 'error',
                title: '错误',
                text: '请输入收件人电话'
            });
            return;
        }
        if (line1.trim() === '') {
            Swal.fire({
                icon: 'error',
                title: '错误',
                text: '请输入详细地址'
            });
            return;
        }
        if (city.trim() === '') {
            Swal.fire({
                icon: 'error',
                title: '错误',
                text: '请输入城市'
            });
            return;
        }
        if (postcode.trim() === '') {
            Swal.fire({
                icon: 'error',
                title: '错误',
                text: '请输入邮编'
            });
            return;
        }
        if (country.trim() === '') {
            Swal.fire({
                icon: 'error',
                title: '错误',
                text: '请输入国家'
            });
            return;
        }
        if (action === 'edit') {
            data.addressID = {$address.id};
            url = '/user/addresses/{$address.id}';
        } else {
            url = '/user/addresses/add';
        }
        fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(function (response) {
                if (!response.ok) {
                    throw new Error('请求失败');
                }
                return response.json();
            })
            .then(function (result) {
                if (result.ret === 1) {
                    Swal.fire({
                        icon: 'success',
                        title: '成功',
                        text: result.msg,
                        showConfirmButton: true,
                        timer: 2000,
                        timerProgressBar: true,
                        allowOutsideClick: false
                    }).then(function () {
                        window.location.href = '/user/addresses';
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '错误',
                        text: result.msg
                    });
                }
            })
            .catch(function (error) {
                Swal.fire({
                    icon: 'error',
                    title: '错误',
                    text: '系统错误'
                });
            });
    });
</script>
</body>
