{include file="user/header"}

<head>
    <title>地址查询</title>
</head>

<body>
<div class="page-wrapper">
    <div class="container">
        <div class="page-content">
            <div class="card" style="margin-top: 2%">
                <div class="card-header">
                    <h2 class="card-title">地址列表 <a class='btn btn-cyan' href='/user/addresses/add'><i
                            class="fas fa-plus"></i>添加地址</a></h2>
                    <a class='btn btn-dark' href='/user/index' style="margin-left: auto"><i class="fas fa-back"></i>返回</a>
                </div>
                <div class="card-body">
                    <div class="container-xl">
                        <div class="row row-cards">
                            {if $addresses->isEmpty()}
                            <h3>暂无数据</h3>
                            <h4>请点击上方按钮添加地址</h4>
                            {else}
                            {volist name="addresses" id="address"}
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">{$address.receiver}</h3>
                                        <div class="card-actions">
                                            <a class="btn btn-yellow" href="/user/addresses/{$address.id}">
                                                <svg class="icon icon-tabler icon-tabler-edit"
                                                     fill="none" height="44" stroke="#2c3e50"
                                                     stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                                     viewBox="0 0 24 24"
                                                     width="44" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"/>
                                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"/>
                                                    <path d="M16 5l3 3"/>
                                                </svg>
                                                编辑
                                            </a>
                                            <button class="btn btn-danger delete-button" data-id="{$address.id}">
                                                <svg class="icon icon-tabler icon-tabler-trash-x"
                                                     fill="none" height="44" stroke="#2c3e50"
                                                     stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                                     viewBox="0 0 24 24"
                                                     width="44" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                                                    <path d="M4 7h16"/>
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"/>
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"/>
                                                    <path d="M10 12l4 4m0 -4l-4 4"/>
                                                </svg>
                                                删除
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        {$address.line1}<br>
                                        {$address.line2}<br>
                                        {$address.line3}<br>
                                        {$address.city}, {$address.postcode}<br>
                                        {$address.country}<br>
                                        <svg class="icon icon-tabler icon-tabler-phone"
                                             fill="none" height="44" stroke="#2c3e50"
                                             stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                                             viewBox="0 0 24 24"
                                             width="44" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                                            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"/>
                                        </svg>
                                        {$address.tel}<br>
                                    </div>
                                </div>
                            </div>
                            {/volist}
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var Id = button.getAttribute('data-id');
            Swal.fire({
                title: '您确定要删除该地址吗？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '确认删除',
                cancelButtonText: '取消'
            }).then(function (result) {
                if (result.value) {
                    fetch('/user/addresses/' + Id, {
                        method: 'DELETE'
                    }).then(function (response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('请求失败');
                        }
                    }).then(data => {
                        if (data.ret === 1) {
                            Swal.fire({
                                title: '成功',
                                text: data.msg,
                                confirmButtonText: '确定',
                                icon: 'success'
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '错误',
                                text: data.msg
                            });
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: '错误',
                            text: '系统错误'
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    });
                }
            });
        });
    });
</script>
</body>
