{include file="user/header"}
<title>Apply form</title>
<body>
<div class="page-wrapper">
    <div class="container">
        <div class="page-content">
            <div class="card" style="margin-top: 26px">


            <h2 class="card-header bg-primary text-white text-center">apply form</h2>
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="Name">Name</span>
                    <input autocomplete="off" class="form-control" name="Name" required type="text"
                           >
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="Address">address</span>
                            <input autocomplete="off" class="form-control" name="Address" type="text"
                                  >
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="CityRegion">CityRegion</span>
                            <input autocomplete="off" class="form-control" name="CityRegion" type="text"
                                   >
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="PostalCode">PostalCode</span>
                    <input autocomplete="off" class="form-control" name="PostalCode" type="text" >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="Age">Age</span>
                    <input autocomplete="off" class="form-control" name="Age"
                           placeholder="账号的说明，在分享页显示"
                           type="text" >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="Occupation">Occupation</span>
                    <input autocomplete="off" class="form-control" name="Occupation" required
                           type="date" >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="FamilyMembers">FamilyMembers</span>
                    <input autocomplete="off" class="form-control" name="FamilyMembers" required type="text"
                           >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="HousingType">HousingType</span>
                    <input autocomplete="off" class="form-control" name="HousingType" required type="text"
                           >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="AllowingPets">AllowingPets</span>
                    <input autocomplete="off" class="form-control" name="AllowingPets" required type="text"
                           >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="ApartmentPetPolicy">ApartmentPetPolicy</span>
                    <input autocomplete="off" class="form-control" name="ApartmentPetPolicy" required type="text"
                           >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="ApartmentPolicyDetails">ApartmentPolicyDetails</span>
                    <input autocomplete="off" class="form-control" name="ApartmentPolicyDetails" required type="text"
                           >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="PetExperience">PetExperience</span>
                    <input autocomplete="off" class="form-control" name="PetExperience" required type="text"
                    >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="ReasonToAdopt">ReasonToAdopt</span>
                    <input autocomplete="off" class="form-control" name="ReasonToAdopt" required type="text"
                    >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="PetCareAndTrainingPlan">PetCareAndTrainingPlan</span>
                    <input autocomplete="off" class="form-control" name="PetCareAndTrainingPlan" required type="text"
                    >
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text" id="DailyScheduleImpact">DailyScheduleImpact</span>
                <input autocomplete="off" class="form-control" name="DailyScheduleImpact" required type="text"
                >
            </div>
                <div class="input-group mb-3">
                <span class="input-group-text" id="PreviousPets">PreviousPets</span>
                <input autocomplete="off" class="form-control" name="PreviousPets" required type="text"
                >
            </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="ExerciseAndPlay">ExerciseAndPlay</span>
                    <input autocomplete="off" class="form-control" name="ExerciseAndPlay" required type="text"
                    >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="VeterinaryCare">VeterinaryCare</span>
                    <input autocomplete="off" class="form-control" name="VeterinaryCare" required type="text"
                    >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="HomeVisit">HomeVisit</span>
                    <input autocomplete="off" class="form-control" name="HomeVisit" required type="text"
                    >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="AdditionalInfo">DailyTimeWithDog</span>
                    <input autocomplete="off" class="form-control" name="DailyTimeWithDog" required type="text"
                    >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="DailyTimeWithDog">DailyTimeWithDog</span>
                    <input autocomplete="off" class="form-control" name="DailyTimeWithDog" required type="text"
                    >
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="FamilyIncome">FamilyIncome</span>
                    <input autocomplete="off" class="form-control" name="FamilyIncome" required type="text"
                    >
                </div>
            <hr>
            <button class="btn btn-primary btn-block submit-button" type="submit">
            </button>
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $('.submit-button').on('click', function (event) {
            Swal.fire({
                title: '处理中...',
                allowOutsideClick: false,
                showConfirmButton: false,
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
            });
            var Name = $('input[name="Name"]').val();
            var Address = $('input[name="Address"]').val();
            var CityRegion = $('input[name="CityRegion"]').val();
            var PostalCode = $('input[name="PostalCode"]').val();
            var Age = $('input[name="Age"]').val();
            var Occupation = $('input[name="Occupation"]').val();
            var FamilyMembers = $('input[name="FamilyMembers"]').val();
            var FamilyMemberDetails = $('input[name="FamilyMemberDetails"]').val();
            var HousingType = $('input[name="HousingType"]').val();
            var AllowingPets = $('input[name="AllowingPets"]').val();
            var ApartmentPetPolicy = $('input[name="ApartmentPetPolicy"]').val();
            var ApartmentPolicyDetails = $('input[name="ApartmentPolicyDetails"]').val();
            var PetExperience = $('input[name="PetExperience"]').val();
            var PreviousPets = $('input[name="PreviousPets"]').is(':checked');//是开关用这个
            var ReasonToAdopt = $('input[name="ReasonToAdopt"]').is(':checked');
            var PetCareAndTrainingPlan = $('input[name="PetCareAndTrainingPlan"]').is(':checked');
            var DailyScheduleImpact = $('input[name="DailyScheduleImpact"]').val();
            var DailyTimeWithDog = $('input[name="DailyTimeWithDog"]').is(':checked');
            var ExerciseAndPlay = $('input[name="ExerciseAndPlay"]').is(':checked');
            var VeterinaryCare = $('input[name="VeterinaryCare"]').is(':checked');
            var HomeVisit = $('input[name="HomeVisit"]').is(':checked');
            var FamilyIncome = $('input[name="FamilyIncome"]').is(':checked');
            var data = {
                Name: Name,
                Address: Address,
                CityRegion: CityRegion,
                PostalCode: PostalCode,
                Age: Age,
                Occupation: Occupation,
                FamilyMembers: FamilyMembers,
                FamilyMemberDetails: FamilyMemberDetails,
                HousingType: HousingType,
                AllowingPets: AllowingPets,
                ApartmentPetPolicy: ApartmentPetPolicy,
                ApartmentPolicyDetails: ApartmentPolicyDetails,
                PetExperience: PetExperience,
                PreviousPets: PreviousPets,
                ReasonToAdopt: ReasonToAdopt,
                PetCareAndTrainingPlan: PetCareAndTrainingPlan,
                DailyScheduleImpact: DailyScheduleImpact,
                DailyTimeWithDog: DailyTimeWithDog,
                ExerciseAndPlay: ExerciseAndPlay,
                VeterinaryCare: VeterinaryCare,
                HomeVisit: HomeVisit,
                FamilyIncome: FamilyIncome,
            };
            fetch('/user/apply', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('请求失败');
                    }
                    return response.json();
                })
                .then(function (result) {
                    if (result.ret === 1) {
                        Swal.fire({
                            icon: 'success',
                            title: '成功',
                            text: result.msg,
                            showConfirmButton: true,
                            timer: 2000,
                            timerProgressBar: true,
                            allowOutsideClick: false
                        }).then(function () {
                            window.location.href = '/user/apply';
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: '错误',
                            text: result.msg
                        });
                    }
                })
                .catch(function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: '错误',
                        text: '系统错误'
                    });
                });
        });
    });

</script>