{include file="user/header"}

}
<title>Apply form</title>
<body>
<div class="page-wrapper">
    <div class="container">
        <div class="page-content">
            <div class="card" style="margin-top: 26px">


                <h2 class="card-header bg-primary text-white text-center">Appply finished wait for approval or contact us, thank you.</h2>
                <h3 class="card-header bg-primary text-white text-center">Please check the progress of your application in the left navigation bar.<br> You will be notified by email of the progress of your application.</h3>
            </div>
        </div>
    </div>
</div>


</body>