{include file="user/header"}
<title>Apply form</title>
<body>
<div class="page-wrapper">
    <div class="container">
        <div class="page-content">
            <div class="card" style="margin-top: 26px">


            <h2 class="card-header bg-primary text-white text-center">apply form</h2>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="Name">Name</span>
                    <input autocomplete="off" class="form-control" name="Name" required type="text"
                           >
                </div>
                </div>

                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="Address">address</span>
                            <input autocomplete="off" class="form-control" name="Address" type="text">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="CityRegion">CityRegion</span>
                            <input autocomplete="off" class="form-control" name="CityRegion" type="text">
                        </div>
                    </div>

                <div class="col-sm-12 col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="PostalCode">PostalCode</span>
                    <input autocomplete="off" class="form-control" name="PostalCode" type="text" >
                </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="Age">Age</span>
                    <input autocomplete="off" class="form-control" name="Age" required
                           type="text" >
                </div>
                </div>
                    <div class="col-sm-12 col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="Occupation">Occupation</span>
                        <input autocomplete="off" class="form-control" name="Occupation" required
                        >
                    </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="FamilyMembers">FamilyMembers</span>
                    <textarea class="form-control" name="FamilyMembers" required
                              rows="5"></textarea>
                </div>


                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="HousingType" required>
                        <option selected disabled>Open this select menu and choose your house type </option>
                        <option value="House">House</option>
                        <option value="Apartment">Flat</option>
                        <option value="Townhouse">Townhouse</option>
                        <option value="MobileHome">MobileHome</option>
                    </select>
                    <label for="floatingSelect">Select</label>
                    <br>

                </div>
                <div class="input-group mb-3">
                    <label class="form-check">
                        <input class = "form-check-input" type = "checkbox" value = "" id = "flexCheckDefault" name = "AllowingPets" >
                        <span class="form-check-label">Allow pets</span>
                    </label>

                </div>
                <div class="input-group mb-3">
                    <label class="form-check">
                        <input class = "form-check-input" type = "checkbox" value = "" id = "ApartmentPetPolicy" name = "ApartmentPetPolicy" >
                        <span class="form-check-label">If it's a flat, while having a pet policy limit</span>
                    </label>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="ApartmentPolicyDetails">ApartmentPolicyDetails</span>
                    <textarea class="form-control" name="ApartmentPolicyDetails" required
                              rows="5"></textarea>
                </div>


                <div class="input-group mb-3">
                    <label class="form-check">
                        <input class = "form-check-input" type = "checkbox" value = "" id = "PetExperience" name = "PetExperience" >
                        <span class="form-check-label">Ever had experience with pets?</span>
                    </label>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="PreviousPets">If you have ever had a pet, <br>please describe in detail the type of pet,<br> if not, please fill in No.</span>
                    <textarea class="form-control" name="PreviousPets" required type="text" rows="5"></textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="ReasonToAdopt">ReasonToAdopt</span>
                    <textarea class="form-control" name="ReasonToAdopt" required type = "text"
                              rows="5"></textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="PetCareAndTrainingPlan">PetCareAndTrainingPlan</span>
                    <textarea class="form-control" name="PetCareAndTrainingPlan" required type = "text"
                              rows="5"></textarea>
                </div>
                <div class="input-group mb-3">
                <span class="input-group-text" id="DailyScheduleImpact">How your daily life and work<br> schedule affects dog care</span>
                <textarea class="form-control" name="DailyScheduleImpact" required type = "text"
                          rows="5"></textarea>

            </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="DailyTimeWithDog">Daily Time With Dog (Hour)</span>
                    <input autocomplete="off" class="form-control" name="DailyTimeWithDog" required type="text" placeholder="Please write down the approximate time. For example: 2"

                    >
                </div>

                <div class="input-group mb-3">
                    <label class="form-check">
                        <input class = "form-check-input" type = "checkbox" value = "" id = "ExerciseAndPlay" name = "ExerciseAndPlay" >
                        <span class="form-check-label">Are you willing to provide your dog with adequate exercise and movement</span>
                    </label>
                </div>
                <div class="input-group mb-3">
                    <label class="form-check">
                        <input class = "form-check-input" type = "checkbox" value = "" id = "VeterinaryCare" name = "VeterinaryCare" >
                        <span class="form-check-label">Are you willing to cover the cost of veterinary care and health care</span>
                    </label>


                </div>
                <div class="input-group mb-3">
                    <label class="form-check">
                        <input class = "form-check-input" type = "checkbox" value = "" id = "HomeVisit" name = "HomeVisit" >
                        <span class="form-check-label">Are you willing to allow the adoption agency to conduct a home visit</span>
                    </label>

                </div>


                <div class="input-group mb-3">
                    <span class="input-group-text" id="FamilyIncome">Family Income(Pounds)</span>
                    <input autocomplete="off" class="form-control" name="FamilyIncome" required type="text" placeholder="For example: 6000"
                    >
                </div>
            <hr>
            <button class="btn btn-primary btn-block submit-button" type="submit">Submit
            </button>
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $('.submit-button').on('click', function (event) {
            Swal.fire({
                title: '处理中...',
                allowOutsideClick: false,
                showConfirmButton: false,
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
            });
            var Name = $('input[name="Name"]').val();
            var Address = $('input[name="Address"]').val();
            var CityRegion = $('input[name="CityRegion"]').val();
            var PostalCode = $('input[name="PostalCode"]').val();
            var Age = $('input[name="Age"]').val();
            var Occupation = $('input[name="Occupation"]').val();
            var FamilyMembers = $('input[name="FamilyMembers"]').val();
            var FamilyMemberDetails = $('input[name="FamilyMemberDetails"]').val();
            var HousingType = $('input[name="HousingType"]').val();
            var AllowingPets = $('input[name="AllowingPets"]').is(':checked');
            var ApartmentPetPolicy = $('input[name="ApartmentPetPolicy"]').val();
            var ApartmentPolicyDetails = $('input[name="ApartmentPolicyDetails"]').val();
            var PetExperience = $('input[name="PetExperience"]').val();
            var PreviousPets = $('input[name="PreviousPets"]').is(':checked');//是开关用这个
            var ReasonToAdopt = $('input[name="ReasonToAdopt"]').is(':checked');
            var PetCareAndTrainingPlan = $('input[name="PetCareAndTrainingPlan"]').is(':checked');
            var DailyScheduleImpact = $('input[name="DailyScheduleImpact"]').val();
            var DailyTimeWithDog = $('input[name="DailyTimeWithDog"]').is(':checked');
            var ExerciseAndPlay = $('input[name="ExerciseAndPlay"]').is(':checked');
            var VeterinaryCare = $('input[name="VeterinaryCare"]').is(':checked');
            var HomeVisit = $('input[name="HomeVisit"]').is(':checked');
            var FamilyIncome = $('input[name="FamilyIncome"]').is(':checked');
            var data = {
                Name: Name,
                Address: Address,
                CityRegion: CityRegion,
                PostalCode: PostalCode,
                Age: Age,
                Occupation: Occupation,
                FamilyMembers: FamilyMembers,
                FamilyMemberDetails: FamilyMemberDetails,
                HousingType: HousingType,
                AllowingPets: AllowingPets,
                ApartmentPetPolicy: ApartmentPetPolicy,
                ApartmentPolicyDetails: ApartmentPolicyDetails,
                PetExperience: PetExperience,
                PreviousPets: PreviousPets,
                ReasonToAdopt: ReasonToAdopt,
                PetCareAndTrainingPlan: PetCareAndTrainingPlan,
                DailyScheduleImpact: DailyScheduleImpact,
                DailyTimeWithDog: DailyTimeWithDog,
                ExerciseAndPlay: ExerciseAndPlay,
                VeterinaryCare: VeterinaryCare,
                HomeVisit: HomeVisit,
                FamilyIncome: FamilyIncome,
            };
            fetch('/user/apply', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(function (response) {
                    if (!response.ok) {
                        throw new Error('请求失败');
                    }
                    return response.json();
                })
                .then(function (result) {
                    if (result.ret === 1) {
                        Swal.fire({
                            icon: 'success',
                            title: '成功',
                            text: result.msg,
                            showConfirmButton: true,
                            timer: 2000,
                            timerProgressBar: true,
                            allowOutsideClick: false
                        }).then(function () {
                            window.location.href = '/user/apply';
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: '错误',
                            text: result.msg
                        });
                    }
                })
                .catch(function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: '错误',
                        text: '系统错误'
                    });
                });
        });
    });

</script>