{include file="user/header"}

<head>
    <title>用户面板</title>
    {css href="/static/css/userIndex.css" /}
</head>

<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl"
             style="width: 100%;
                 padding-right: 15px;
                 padding-left: 15px;
                 margin-right: auto;
                 margin-left: 20px;">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        User Home
                    </h2>
                </div>
            </div>
            <div class = "card">
                <div class="card-body">
                    {if $result==1}
                    <ul class="steps steps-green steps-counter my-4">
                        <li class="step-item {if $step==0}active{/if}">Submit an application</li>
                        <li class="step-item {if $step==1}active{/if}">Approval in progress</li>
                        <li class="step-item {if $step==2}active{/if}">Approval Success</li>
                    </ul>

                    {else}
                    <ul class="steps steps-red steps-counter my-4">
                        <li class="step-item {if $step==0}active{/if}">Submit an application</li>
                        <li class="step-item {if $step==1}active{/if}">Approval in progress</li>
                        <li class="step-item {if $step==2}active{/if}">Approval Rejected</li>
                    </ul>
                    {/if}
                </div>

                </div>
            </div>
        </div>
    </div>
</div>


