{include file="user/header"}

<head>
    <title>用户面板</title>
    {css href="/static/css/userIndex.css" /}
</head>

<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl"
             style="width: 100%;
                 padding-right: 15px;
                 padding-left: 15px;
                 margin-right: auto;
                 margin-left: 20px;">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        User Home
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class = "card">
    <div class="card-body">
        <ul class="steps steps-green steps-counter my-4">
            <li class="step-item">Submit an application</li>
            <li class="step-item active">Approval in progress</li>
            <li class="step-item">Approval Passed/Rejected</li>
        </ul>
    </div>
    </div>

<script>
    var clipboard = new ClipboardJS('.btn');

    function alert_success() {
        Swal.fire({
            icon: 'success',
            title: '提示',
            text: '复制成功',
            timer: 1000,
            timerProgressBar: true
        });
    }
</script>
