{include file="user/header"}

<head>
    <title>快递查询</title>
</head>

<body>
<div class="page-wrapper">
    <div class="container">
        <div class="page-content">
            <div class="card" style="margin-top: 2%">
                <div class="card-header">
                    <h2 class="card-title">快递列表 <a class='btn btn-cyan' href='/user/parcels/add'><i
                            class="fas fa-plus"></i>添加快递</a></h2>
                    <a class='btn btn-dark' href='/user/index' style="margin-left: auto"><i class="fas fa-back"></i>返回</a>
                </div>

                {if $parcels->isEmpty()}
                <div class="empty">
                    <div class="empty-title">
                        暂无数据
                    </div>
                </div>
                {else}
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>运单号</th>
                                <th>备注</th>
                                <th>状态</th>
                                <th>添加时间</th>
                                <th>签收时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="parcels" id="parcel"}
                            <tr>
                                <td>{$parcel.trackNum}</td>
                                <td>{$parcel.comment}</td>
                                {if $parcel.status == 'NOTRECEIVED'}
                                <td style="color: red">❌未签收</td>
                                {elseif $parcel.status == 'RECEIVED'}
                                <td style="color: green">✅已签收</td>
                                {else}
                                <td style="color: #8a6d35">📦已装箱</td>
                                {/if}
                                <td>{$parcel.createdAt}</td>
                                <td>{$parcel.receivedAt}</td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>

                    <!-- 分页链接 -->
                    {$parcels|raw}
                </div>
                {/if}

            </div>
        </div>
    </div>
</div>
</body>
