{include file="admin/header"}

<head>
    <title>admin panel</title>
    {css href="/static/css/userIndex.css" /}
</head>

<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl"
             style="width: 100%;
                 padding-right: 15px;
                 padding-left: 15px;
                 margin-right: auto;
                 margin-left: 20px;">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        User Application
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Dog id</th>
                <th>Name</th>
                <th>email</th>
                <th>statuses</th>
                <th>result</th>


            </tr>
            </thead>
            <tbody>
        {volist name="statuses" id="apply"}
        <tr>
            <td>{$apply.id}</td>
            <td>{$apply.Name}</td>
            <td>{$apply.email}</td>
            <td>{$apply.statuses=="0"?"Unprocessed":"Processed"}</td>
            <td>{if $apply.statuses==0}
                Unprocessed
                {else}
                {$apply.result?"success":"reject"}
                {/if}

            <td>
                <a class="btn btn-primary" href="/admin/apply/{$apply.id}">view</a>
            </td>
        </tr>
        {/volist}
        </tbody>
        </table>

    </div>
</div>
