{include file="admin/header"}

<title>转运订单</title>
<body>
<div class="page-wrapper">
    <div class="container">
        <div class="page-content">
            <div class="card" style="margin-top: 2%">
                <div class="card-header">
                    <svg class="icon icon-tabler icon-tabler-list-search" fill="none" height="44"
                         stroke="#2c3e50" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                         viewBox="0 0 24 24"
                         width="44" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                        <path d="M15 15m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"/>
                        <path d="M18.5 18.5l2.5 2.5"/>
                        <path d="M4 6h16"/>
                        <path d="M4 12h4"/>
                        <path d="M4 18h4"/>
                    </svg>
                    订单搜索
                </div>
                <div class="card-body">
                    <form action="" class="row g-3 align-items-center" method="get">
                        <div class="col-auto">
                            <label class="visually-hidden" for="orderUID">订单编号</label>
                            <input class="form-control" id="orderUID" name="orderUID" placeholder="订单编号"
                                   type="text">
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="username">用户名</label>
                            <input class="form-control" id="username" name="username" placeholder="用户名" type="text">
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="tel">手机号</label>
                            <input class="form-control" id="tel" name="tel" placeholder="手机号" type="tel">
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-switch">
                                <label for="dispatchStatus">发货状态</label>
                                <select class="form-select" id="dispatchStatus" name="dispatchStatus">
                                    <option value="0">未发货</option>
                                    <option value="1">已发货</option>
                                    <option selected value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-switch">
                                <label for="paymentStatus">付款状态</label>
                                <select class="form-select" id="paymentStatus" name="paymentStatus">
                                    <option value="0">未付款</option>
                                    <option value="1">已付款</option>
                                    <option selected value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-switch">
                                <label for="processStatus">处理状态</label>
                                <select class="form-select" id="processStatus" name="processStatus">
                                    <option value="0">未处理</option>
                                    <option value="1">已处理</option>
                                    <option selected value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">搜索</button>
                        </div>
                    </form>
                </div>
            </div>


            <div class="card" style="margin-top: 2%">
                <div class="card-header">
                    <h2 class="card-title">订单列表</h2>
                    <div class="input-icon" style="margin-left: 18px">

                    </div>
                    <a class='btn btn-dark' href='/admin/index' style="margin-left: auto"><i class="fas fa-back"></i>返回</a>
                </div>
                {if $orders->isEmpty()}
                <div class="empty">
                    <div class="empty-title">
                        暂无数据
                    </div>
                </div>
                {else}
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>订单编号</th>
                                <th>用户</th>
                                <th>包裹数量</th>
                                <th>转运渠道</th>
                                <th>备注</th>
                                <th>支付状态</th>
                                <th>订单状态</th>
                                <th>下单时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="orders" id="order"}
                            <tr>
                                <td><span class="text-muted">{$order.uid}</span></td>
                                <td>{$order.username}</td>
                                <td>{$order.parcelCount}</td>
                                <td>{$order.channelName}</td>
                                {if $order.comment == null}
                                <td>无</td>
                                {else}
                                <td>{$order.comment}</td>
                                {/if}
                                <td>
                                    {if $order.paymentStatus == 0}
                                        <span class="badge btn bg-warning me1 unpaid-button" data-id="{$order.uid}">
                                            未付款
                                        </span>
                                    {else}
                                        <span class="badge btn bg-success me1 paid-button" data-id="{$order.uid}">
                                            已付款
                                        </span>
                                    {/if}
                                </td>
                                <td>
                                    {if $order.dispatchStatus == 0}
                                        <span class="badge btn bg-warning me1 dispatched-button" data-id="{$order.uid}">
                                            未出仓
                                        </span>
                                    {else}
                                        <span class="badge btn bg-success me1 undispatched-button" data-id="{$order.uid}">
                                            已出仓
                                        </span>
                                    {/if}
                                </td>
                                <td>{$order.createAt}</td>
                                <td>
                                    <a class="btn btn-primary" href="/admin/orders/handle/{$order.uid}">处理订单</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>

                    <!-- 分页链接 -->
                    {$orders|raw}
                </div>
            </div>
            {/if}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            if ($('#orderUID').val() === '') {
                $('#orderUID').prop('disabled', true);
            }
            if ($('#username').val() === '') {
                $('#username').prop('disabled', true);
            }
            if ($('#tel').val() === '') {
                $('#tel').prop('disabled', true);
            }
            if ($('#dispatchStatus').val() == '') {
                $('#dispatchStatus').prop('disabled', true);
            }
            if ($('#paymentStatus').val() == '') {
                $('#paymentStatus').prop('disabled', true);
            }
            if ($('#processStatus').val() == '') {
                $('#processStatus').prop('disabled', true);
            }
        });
    });
</script>
<script>
    var receivedButtons = document.querySelectorAll('.dispatched-button');
    receivedButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var id = button.getAttribute('data-id');
            var data = {
                orderStatus: 1
            };
            Swal.fire({
                title: '您确定要设为已出仓吗？',
                icon: 'warning',
                input: 'text',
                inputLabel: '请输入追踪单号：',
                showCancelButton: true,
                confirmButtonText: '确认',
                cancelButtonText: '取消',
                inputValidator: (value) => {
                    if (!value) {
                        return '请输入追踪单号！'
                    }
                }
            }).then(function (result) {
                if (result.value) {
                    data.trackingNumber = result.value;
                    fetch('/admin/orders/update/' + id, {
                        method: 'POST', headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(function (response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('请求失败');
                        }
                    }).then(data => {
                        if (data.ret === 1) {
                            Swal.fire({
                                title: '成功',
                                text: data.msg,
                                confirmButtonText: '确定',
                                icon: 'success'
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '错误',
                                text: data.msg
                            });
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: '错误',
                            text: '系统错误'
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    });
                }
            });
        });
    });
</script>
<script>
    var unreceivedButtons = document.querySelectorAll('.undispatched-button');
    unreceivedButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var id = button.getAttribute('data-id');
            var data = {
                orderStatus: 0,
            };
            Swal.fire({
                title: '您确定要设为未出仓吗？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '确认',
                cancelButtonText: '取消'
            }).then(function (result) {
                if (result.value) {
                    fetch('/admin/orders/update/' + id, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(function (response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('请求失败');
                        }
                    }).then(data => {
                        if (data.ret === 1) {
                            Swal.fire({
                                title: '成功',
                                text: data.msg,
                                confirmButtonText: '确定',
                                icon: 'success'
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '错误',
                                text: data.msg
                            });
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: '错误',
                            text: '系统错误'
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    });
                }
            });
        });
    });
</script>
<script>
    var unpaidButtons = document.querySelectorAll('.unpaid-button');
    unpaidButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var id = button.getAttribute('data-id');
            var data = {
                paymentStatus: 1,
            };
            Swal.fire({
                title: '您确定要设为已付款吗？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '确认',
                cancelButtonText: '取消'
            }).then(function (result) {
                if (result.value) {
                    fetch('/admin/orders/update/' + id, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(function (response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('请求失败');
                        }
                    }).then(data => {
                        if (data.ret === 1) {
                            Swal.fire({
                                title: '成功',
                                text: data.msg,
                                confirmButtonText: '确定',
                                icon: 'success'
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '错误',
                                text: data.msg
                            });
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: '错误',
                            text: '系统错误'
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    });
                }
            });
        });
    });
</script>
<script>
    var paidButtons = document.querySelectorAll('.paid-button');
    paidButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var id = button.getAttribute('data-id');
            var data = {
                paymentStatus: 0,
            };
            Swal.fire({
                title: '您确定要设为未付款吗？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '确认',
                cancelButtonText: '取消'
            }).then(function (result) {
                if (result.value) {
                    fetch('/admin/orders/update/' + id, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(function (response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('请求失败');
                        }
                    }).then(data => {
                        if (data.ret === 1) {
                            Swal.fire({
                                title: '成功',
                                text: data.msg,
                                confirmButtonText: '确定',
                                icon: 'success'
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '错误',
                                text: data.msg
                            });
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: '错误',
                            text: '系统错误'
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    });
                }
            });
        });
    });
</script>
</body>