{include file="admin/header"}

<head>
    <title>快递查询</title>
</head>

<body>
<div class="page-wrapper">
    <div class="container">
        <div class="page-content">
            <div class="card" style="margin-top: 2%">
                <div class="card-header">
                    <h2 class="card-title">快递列表 </h2>
                    <a class='btn btn-dark' href='/admin/index' style="margin-left: auto"><i class="fas fa-back"></i>返回</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>运单号</th>
                                <th>用户</th>
                                <th>备注</th>
                                <th>状态</th>
                                <th>添加时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {if $parcels->isEmpty()}
                            <tr>
                                <td class="text-center" colspan="6">暂无数据</td>
                            </tr>
                            {else}
                            {volist name="parcels" id="parcel"}
                            <tr>
                                <td>{$parcel.trackNum}</td>
                                <td>{$parcel.username??"[未认领]"}</td>
                                <td>{$parcel.comment}</td>
                                {if $parcel.status == 'NOTRECEIVED'}
                                <td style="color: red">❌未签收</td>
                                {elseif $parcel.status == 'RECEIVED'}
                                <td style="color: green">✅已签收</td>
                                {else}
                                <td>{$parcel.status}</td>
                                {/if}
                                <td>{$parcel.createdAt}</td>
                                <td>
                                    {if $parcel.status == 'NOTRECEIVED'}
                                    <button class="btn btn-lime received-button" data-id="{$parcel.id}">标记为已签收
                                    </button>
                                    {else}
                                    <button class="btn btn-pink unreceived-button" data-id="{$parcel.id}">标记为未签收
                                    </button>
                                    {/if}
                                    <button class="btn btn-danger delete-button" data-id="{$parcel.id}">删除</button>
                                </td>
                            </tr>
                            {/volist}
                            {/if}
                            </tbody>
                        </table>
                    </div>

                    <!-- 分页链接 -->
                    {$parcels|raw}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var Id = button.getAttribute('data-id');
            Swal.fire({
                title: '您确定要删除该包裹吗？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '确认删除',
                cancelButtonText: '取消'
            }).then(function (result) {
                if (result.value) {
                    fetch('/admin/parcels/' + Id, {
                        method: 'DELETE'
                    }).then(function (response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('请求失败');
                        }
                    }).then(data => {
                        if (data.ret === 1) {
                            Swal.fire({
                                title: '成功',
                                text: data.msg,
                                confirmButtonText: '确定',
                                icon: 'success'
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '错误',
                                text: data.msg
                            });
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: '错误',
                            text: '系统错误'
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    });
                }
            });
        });
    });
</script>
<script>
    var receivedButtons = document.querySelectorAll('.received-button');
    receivedButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var Id = button.getAttribute('data-id');
            var data = {
                status: 'RECEIVED'
            };
            Swal.fire({
                title: '您确定要设为已签收吗？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '确认',
                cancelButtonText: '取消'
            }).then(function (result) {
                if (result.value) {
                    fetch('/admin/parcels/' + Id, {
                        method: 'POST', headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(function (response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('请求失败');
                        }
                    }).then(data => {
                        if (data.ret === 1) {
                            Swal.fire({
                                title: '成功',
                                text: data.msg,
                                confirmButtonText: '确定',
                                icon: 'success'
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '错误',
                                text: data.msg
                            });
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: '错误',
                            text: '系统错误'
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    });
                }
            });
        });
    });
</script>
<script>
    var unreceivedButtons = document.querySelectorAll('.unreceived-button');
    unreceivedButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var Id = button.getAttribute('data-id');
            var data = {
                status: 'NOTRECEIVED',
            };
            Swal.fire({
                title: '您确定要设为未签收吗？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '确认',
                cancelButtonText: '取消'
            }).then(function (result) {
                if (result.value) {
                    fetch('/admin/parcels/' + Id, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(function (response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('请求失败');
                        }
                    }).then(data => {
                        if (data.ret === 1) {
                            Swal.fire({
                                title: '成功',
                                text: data.msg,
                                confirmButtonText: '确定',
                                icon: 'success'
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '错误',
                                text: data.msg
                            });
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: '错误',
                            text: '系统错误'
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    });
                }
            });
        });
    });
</script>
</body>
