{include file="admin/header"}

<head>
    <title>User Check</title>
</head>

<body>
<div class="page-wrapper">
    <div class="container">
        <div class="page-content">
            <div class="card" style="margin-top: 2%">
                <div class="card-header">
                    <h2 class="card-title">User Lists </h2>
                    <a class='btn btn-dark' href='/admin/index' style="margin-left: auto"><i class="fas fa-back"></i>Return</a>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Edit User</th>


                        </tr>
                        </thead>
                        <tbody>
                        {if $users->isEmpty()}
                        <tr>
                            <td class="text-center" colspan="6">暂无数据</td>
                        </tr>
                        {else}
                        {volist name="users" id="user"}
                        <tr>


                            <td>{$user.email}</td>


                            <td>
                                <a class="btn btn-primary" href="/admin/users/{$user.id}">Edit</a>
                                <button class="btn btn-danger" type="button" data-id="{$user.id}">Delete User</button>
                            </td>
                        </tr>
                        {/volist}
                        {/if}
                        </tbody>
                    </table>

                    <!-- 分页链接 -->
                    {$users|raw}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var deleteButtons = document.querySelectorAll('.btn-danger');
    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var Id = button.getAttribute('data-id');
            Swal.fire({
                title: 'Are you sure you want to delete this user?？',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Confirm deletion',
                cancelButtonText: 'cancellations'
            }).then(function (result) {
                if (result.value) {
                    fetch('/admin/users/' + Id, {
                        method: 'DELETE'
                    }).then(function (response) {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error('Request Failed');
                        }
                    }).then(data => {
                        if (data.ret === 1) {
                            Swal.fire({
                                title: 'successes',
                                text: data.msg,
                                confirmButtonText: 'Confirm',
                                icon: 'success'
                            }).then(function (result) {
                                if (result.value) {
                                    location.reload();
                                }
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 2000);
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'error',
                                text: data.msg
                            });
                        }
                    }).catch(error => {
                        Swal.fire({
                            icon: 'error',
                            title: 'error',
                            text: 'System error'
                        }).then(function (result) {
                            if (result.value) {
                                location.reload();
                            }
                        });
                    });
                }
            });
        });
    });
</script>
</body>
